*{
    margin: 0;
    padding: 0;
}
.container{
    background-image: url(dag.jpg);
    height: 100vh;
    background-size: 100% 100%;
}
.container .navbar{
    width: 100%;
    height: 80px;
    background-color: rgb(109, 109, 109);
}
.navbar .logo{
    display: inline-block;
    margin-left: 50px;
    margin-top: 20px;
}

.navbar.logo a{
    text-decoration: none;
    font-size: 30px;
    font-family: sans-serif;
    color: rgb(149, 154, 154);
}

.navbar ul{
    float: right;
    margin-right: 20px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0%   8px;
    line-height: 80px;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 13px;
    
}
.container.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%-50%);
}